In [418]:
import pandas as pd
import numpy as np

Pour reference:
http://www.fao.org/faostat/fr/#data

# Question 1
donnez le résultat de votre calcul pour l'année 2013, ainsi que pour la dernière année  disponible au jour où vous effectuez ce projet.

In [419]:
# Loading csv file
population = pd.read_csv("population_world_2013.csv")

In [420]:
# Rebranding significant columns
population.columns = ["xx1", "source", "id", "pays", "code", "element", "xx3", "type", "year", "yearbis", "unit", "value", "xx6", "xx7"]
#population.set_index('pays', inplace=True)
population.loc[population["pays"]=="France"]

,xx1,source,id,pays,code,element,xx3,type,year,yearbis,unit,value,xx6,xx7
58,FBS,Bilans Alimentaires,68,France,511,Population totale,2501,Population,2013,2013,1000 personnes,64291,NaN,Donnée officielle

In [421]:
population.shape

(175, 14)

In [422]:
# Pivoting and filtering on the value column
data = population.pivot_table(
    index=["pays","id", "year"], 
    #columns=["element"],
    values=["value"]
)

data.sum()*1000

value    8413993000
dtype: int64

In [423]:
# Aggregation_chine
data.loc[["Chine, continentale", "Chine, Taiwan Province de", "Chine - RAS de Macao", "Chine - RAS de Hong-Kong"], 'value'].sum()

1416667

On obtient ainsi une estimation de la population mondiale pour l'annee 2013 a plus de 8,4 milliards.

Ce chiffre est tres largement superieur aux estimations de l'ONU pour l'annee 2013 qui se situent a 7 milliards pour l'annee 2013. Par ailleurs pour l'annee 2019, l'estimation actuelle est de 7,7 milliards (source Ined https://www.ined.fr/fr/tout-savoir-population/chiffres/tous-les-pays-du-monde/)

Notre calcul est donc bien superieur a l'estimation. En parcourant la liste des noms de pays, on remarque que la Chine apparait a plusieurs reprises selon differentes declinaisons. 
Ici l'unite des chiffres utilises est une unite par millier de personnes (marge d'erreur max de 2%) 
La source des donnees pour la Chine est issue d'aggregat de donnees et pese plus de 16% de la population mondiale. 
Certaines donnees sont manquantes (URSS, Coree du Nord).

In [424]:
# Aggregation_chine
data.loc["Chine", "value"]

id   year
351  2013    1416667
Name: value, dtype: int64

Les donnees concernant la population chinoise sont en doublon. Aussi il ne faut retenir que la valeur globale. On retrouve alors un calcul plus proche de l'estimation qui est a 7 milliards.

In [425]:
# Check formatting 
data

                                                  value
pays                                   id  year
Afghanistan                            2   2013   30552
Afrique du Sud                         202 2013   52776
Albanie                                3   2013    3173
Algérie                                4   2013   39208
Allemagne                              79  2013   82727
Angola                                 7   2013   21472
Antigua-et-Barbuda                     8   2013      90
Arabie saoudite                        194 2013   28829
Argentine                              9   2013   41446
Arménie                                1   2013    2977
Australie                              10  2013   23343
Autriche                               11  2013    8495
Azerbaïdjan                            52  2013    9413
Bahamas                                12  2013     377
Bangladesh                             16  2013  156595
Barbade                                14  2013     285
Belgique                               255 2013   11104
Belize                                 23  2013     332
Bermudes                               17  2013      65
Bolivie (État plurinational de)        19  2013   10671
Bosnie-Herzégovine                     80  2013    3829
Botswana                               20  2013    2021
Brunéi Darussalam                      26  2013     418
Brésil                                 21  2013  200362
Bulgarie                               27  2013    7223
Burkina Faso                           233 2013   16935
Bélarus                                57  2013    9357
Bénin                                  53  2013   10323
Cabo Verde                             35  2013     499
Cambodge                               115 2013   15135
...                                                 ...
Soudan                                 276 2013   37964
Sri Lanka                              38  2013   21273
Suisse                                 211 2013    8078
Suriname                               207 2013     539
Suède                                  210 2013    9571
Sénégal                                195 2013   14133
Tadjikistan                            208 2013    8208
Tchad                                  39  2013   12825
Tchéquie (la)                          167 2013   10702
Thaïlande                              216 2013   67011
Timor-Leste                            176 2013    1133
Togo                                   217 2013    6817
Trinité-et-Tobago                      220 2013    1341
Tunisie                                222 2013   10997
Turkménistan                           213 2013    5240
Turquie                                223 2013   74933
Ukraine                                230 2013   45239
Uruguay                                234 2013    3407
Vanuatu                                155 2013     253
Venezuela (République bolivarienne du) 236 2013   30405
Viet Nam                               237 2013   91680
Yémen                                  249 2013   24407
Zambie                                 251 2013   14539
Zimbabwe                               181 2013   14150
Égypte                                 59  2013   82056
Émirats arabes unis                    225 2013    9346
Équateur                               58  2013   15738
États-Unis d'Amérique                  231 2013  320051
Éthiopie                               238 2013   94101
Îles Salomon                           25  2013     561

[175 rows x 1 columns]

# Question 2
Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France. Pour avoir un indice, cliquez sur "Définitions et Standards" sur la page de téléchargement des données.
* Production (Production)
* Importations (Import Quantity)
* Exportations (Export Quantity)
* Variation de stock (Stock Variation)
* Disponibilité intérieure (Domestic supply)
* Semences (Seed)
* Pertes (Waste)
* Nourriture (Food) , aussi appelée Disponibilité alimentaire (Food Supply)
* Aliments pour animaux (Feed)
* Traitement (Processing)
* Autres utilisations (Other uses)

In [426]:
vegetal = pd.read_csv("veg.csv")
vegetal.columns = ["xx1", "source", "id", "pays", "code", "element", "xx3", "type", "year", "yearbis", "unit", "value", "xx6", "xx7"]

# Global
# vegetal

# Focus on France
vegetal.loc[vegetal["pays"]=="France"].head()

,xx1,source,id,pays,code,element,xx3,type,year,yearbis,unit,value,xx6,xx7
30989,FBS,Food Balance Sheets,68,France,5511,Production,2511,Wheat and products,2013,2013,1000 tonnes,38614.0,S,Standardized data
30990,FBS,Food Balance Sheets,68,France,5611,Import Quantity,2511,Wheat and products,2013,2013,1000 tonnes,2055.0,S,Standardized data
30991,FBS,Food Balance Sheets,68,France,5072,Stock Variation,2511,Wheat and products,2013,2013,1000 tonnes,1131.0,S,Standardized data
30992,FBS,Food Balance Sheets,68,France,5911,Export Quantity,2511,Wheat and products,2013,2013,1000 tonnes,21502.0,S,Standardized data
30993,FBS,Food Balance Sheets,68,France,5301,Domestic supply quantity,2511,Wheat and products,2013,2013,1000 tonnes,20298.0,S,Standardized data

Au regard des chiffres de la France pour le ble, on intuite les relations suivantes:
* Domestic Supply = Production + Import Quantity - Export Quantity + Stock variation
* Domestic Supply = Food + Feed + Seed + Losses + Other Uses + Processing

In [427]:
vegetal.set_index(['pays', 'element', 'type'], inplace=True)
vegetal.shape

(96715, 11)

In [428]:
# Hypothesis check
production = vegetal.loc['France', 'Production', 'Wheat and products'].value
import_quantity = vegetal.loc['France', 'Import Quantity', 'Wheat and products'].value
stock_variation = vegetal.loc['France', 'Stock Variation', 'Wheat and products'].value
export_quantity = vegetal.loc['France', 'Export Quantity', 'Wheat and products'].value

food = vegetal.loc['France', 'Food', 'Wheat and products'].value
feed = vegetal.loc['France', 'Feed', 'Wheat and products'].value
seed = vegetal.loc['France', 'Seed', 'Wheat and products'].value
losses = vegetal.loc['France', 'Losses', 'Wheat and products'].value
other_uses = vegetal.loc['France', 'Other uses', 'Wheat and products'].value
processing = vegetal.loc['France', 'Processing', 'Wheat and products'].value

domestic_supply = vegetal.loc['France', 'Domestic supply quantity', 'Wheat and products'].value

In [429]:
# First check
domestic_supply - (food + feed + seed + losses + other_uses + processing)

0.0

In [430]:
# Second check
domestic_supply - (production + import_quantity - export_quantity + stock_variation)

0.0

On en conclut que:
Domestic supply = feed + seed + losses + other_uses + processing = production + import_quantity - export_quantity + stock_variation

# Question 3
Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

Vous ferez cela à partir de ces informations :

* Population de chaque pays
* Disponibilité alimentaire ("Food Supply" en anglais) donnée pour chaque produit et pour chaque pays en kcal/personne/jour.
* Disponibilité alimentaire en protéines ("Protein supply quantity" en anglais) donnée pour chaque produit et pour chaque pays en g/personne/jour.

In [431]:
# Loading data regarging animal based food
animal = pd.read_csv("ani.csv")
animal.columns = ["xx1", "source", "id", "pays", "code", "element", "xx3", "type", "year", "yearbis", "unit", "value", "xx6", "xx7"]

animal.head()

,xx1,source,id,pays,code,element,xx3,type,year,yearbis,unit,value,xx6,xx7
0,FBS,Food Balance Sheets,2,Afghanistan,5511,Production,2731,Bovine Meat,2013,2013,1000 tonnes,134.00,S,Standardized data
1,FBS,Food Balance Sheets,2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2013,2013,1000 tonnes,6.00,S,Standardized data
2,FBS,Food Balance Sheets,2,Afghanistan,5301,Domestic supply quantity,2731,Bovine Meat,2013,2013,1000 tonnes,140.00,S,Standardized data
3,FBS,Food Balance Sheets,2,Afghanistan,5142,Food,2731,Bovine Meat,2013,2013,1000 tonnes,140.00,S,Standardized data
4,FBS,Food Balance Sheets,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2731,Bovine Meat,2013,2013,kg,4.59,Fc,Calculated data

In [432]:
#animal relation stats
animal.shape

(33445, 14)

Apres avoir charge les donnees alimentaires d'origine vegetale et animale, on 'append' les deux relations pour ainsi ajouter les lignes des deux relations. On fait de meme avec les donnees de la population

In [433]:
food = vegetal.append(animal)

In [434]:
food.shape

(130160, 14)

In [435]:
food = food.pivot_table(
    index=["id","pays","code","element","year"],
    #columns=["type"],
    values=["value"], 
    aggfunc=np.sum,
    fill_value=0
)

In [436]:
#result = food.query('element == ["Food supply quantity (kg/capita/yr)", "Protein supply quantity (g/capita/day)", "Population totale"]')
food_supply = food.query('element == "Food supply quantity (kg/capita/yr)"')
protein_supply = food.query('element == "Protein supply quantity (g/capita/day)"')
food_supply.head()

                                                               value
id pays        code element                             year
1  Armenia     645  Food supply quantity (kg/capita/yr) 2013  280.99
2  Afghanistan 645  Food supply quantity (kg/capita/yr) 2013   79.92
3  Albania     645  Food supply quantity (kg/capita/yr) 2013  389.05
4  Algeria     645  Food supply quantity (kg/capita/yr) 2013  176.78
7  Angola      645  Food supply quantity (kg/capita/yr) 2013   66.62

In [437]:
pop = population.pivot_table(
    index=["id","pays","code","element","year"], 
    #columns=["element"],
    values=["value"]
)
pop.head()

                                            value
id pays        code element           year
1  Arménie     511  Population totale 2013   2977
2  Afghanistan 511  Population totale 2013  30552
3  Albanie     511  Population totale 2013   3173
4  Algérie     511  Population totale 2013  39208
7  Angola      511  Population totale 2013  21472

In [438]:
pop.reset_index()
total_food_supply = pd.merge(pop, food_supply, on=["id", "pays"], left_index=True)
total_protein_supply = pd.merge(pop, protein_supply, on=["id", "pays"], left_index=True)

In [439]:
total_food_supply.head()

                value_x  value_y
id pays
2  Afghanistan    30552    79.92
7  Angola         21472    66.62
12 Bahamas          377   250.83
16 Bangladesh    156595    48.23
20 Botswana        2021   158.40

In [440]:
total_food_supply['total food supply'] = total_food_supply['value_x'] * total_food_supply['value_y']

In [441]:
total_food_supply.head()

                value_x  value_y  total food supply
id pays
2  Afghanistan    30552    79.92         2441715.84
7  Angola         21472    66.62         1430464.64
12 Bahamas          377   250.83           94562.91
16 Bangladesh    156595    48.23         7552576.85
20 Botswana        2021   158.40          320126.40

In [443]:
total_protein_supply['total food supply'] = total_protein_supply['value_x'] * total_protein_supply['value_y']

In [444]:
total_protein_supply.head()

                value_x  value_y  total food supply
id pays
2  Afghanistan    30552    12.21          373039.92
7  Angola         21472    18.40          395084.80
12 Bahamas          377    56.44           21277.88
16 Bangladesh    156595     9.93         1554988.35
20 Botswana        2021    26.43           53415.03